main{
    width: 100vw;
    height: 100vh;
    padding: 100px 70px;
}

.title-cab{
    font-size: 1.6em;
    font-weight: 600;
    margin-left: 80px;
}

form input{
    border: 1px solid #A5A5A5;
    background-color: transparent;
    width: 154px;
    height: 33px;
    padding-left: 10px;
    border-radius: 3px;
    
}


.milhas img{
    width: 40%;
}