main{
    width: 100vw;
    height: 100vh;
    padding: 100px 70px;
}


.container-up h3{
    font-size: 32px;
    font-weight: 700;
}

.container-up img{
    margin-top: 64px;
    width: 100%;
}

.container-down{
    margin-top: 133px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.container-down p{
    padding-top: 28px
}

.places{
    padding-top: 34px;
}

.places img{
    padding-left: 14px;
}

.milhas{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.milhas img{
    margin-right: 69px;
    margin-left: 90px;
    
}

.papai{
    width: 100%;
}

.values{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.values h2{
    font-size: 32px;
    color: #F57921;
}

.pursue{
    margin-top: 59px;
    
}

.pursue h5{
    font-weight: 600;
    font-size: 16px;
}

.pursue p{
    font-size: 14px;
    padding-top: 22px;
    color: #444444;
}

.history{
    width: 60%;
}

.container-down h3{
    font-size: 25px;
    font-weight: 600;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 114px;
    width: 227px;
    height: 50px;
    background-color: #F57921;
    color:#FFF;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: 0.2s;

}

button:hover{
    box-shadow: 2px 2px 2px #615F5F;
}