
/*                                                                  INDEX                                                                 */
#imgbanner{
    margin-top: 10rem;
}

#bannerbom{
    margin-left: 20px;
    margin-top: 8rem;
}

#bannerbruno{
    margin-left: 20px;
    font-size: 1.8em;
    margin-top: 8rem;

}
/*                                                                  INDEX                                                                 */
