.login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}


.input-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px
}

.forms{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.forms input{
    border: 1px solid black;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 50px;
}


.forms h3{
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 80px;
}

.forms button{
    width: 227px;
    height: 50px;
    background-color: #F57921;
    color:#FFF;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: 0.2s;
}

.banner_aviao{
    width: 35vw;
    height: 100vh;
    object-fit: cover;
}

.containers{
    margin-bottom: 100px;
}

form{
    width: 400px;
}

#botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.forms button:hover{
    box-shadow: 2px 2px 2px #615F5F;
}