main{
    width: 100vw;
    height: 100vh;
    padding: 100px 70px;
}

h1{
    font-size: 32px;
    font-weight: 700;
}

.container-up h4{
    font-size: 20px;
    padding-top: 52px;
    padding-bottom: 52px;
    font-weight: 600;
}

.container-down h4{
    font-size: 20px;
    font-weight: 600;
    padding-top: 95px;
    padding-bottom: 60px
}

.images img{
    margin-right: 89px;
}