/*                                                                  GERAL                                                                  */
body{
   background-color: #F4F4F4;
   background-size:500% 300%;   
}

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans';
    font-weight: normal;
    box-sizing: border-box;
    border:none;
    outline: none;

}
p{
    font-weight: 400;
    color:#010101;
}
img{max-width: 100%;
}
ul{list-style: none;
}
a{text-decoration: none;
}
h2{font-size: 1.5em;
   color:#010101;
   font-weight: 900;
}

.cabecalho{
    width: 100%;
    float:left;
    padding: 14px 5%;
    background-color:#F57921;
    position: fixed;
    top:0;
}

.cabecalho a{
    color: #FFF;
}

.bruno a{
    display: flex;
    flex-direction: column;
}

.logo a{
    width: 120px;
    height: 120px;
    float:left;
    background: url(../img/smiles.png) no-repeat;
    background-size:70% 50%;
    font-size:0;
    position: fixed;
    top:5px;
    left: 150px;

}

.opcoes{
    color:#FFFFFF;
    float: right;
}

.opcoes a{
    color:#FFFFFF;
    float: left;
    margin-left: 12px;
}

#conhecadestinos{
    position: fixed;
    top:22px;
    left: 600px;
    font-size: 0.9em;
}

#planejamentos{
    position: fixed;
    top:22px;
    left: 940px;
    font-size: 0.9em;
}

.paraperfil{
    margin-right: 105px;
    color:#FFFFFF;
    float: right;
    left: 1320px;
    display: flex;
    flex-direction: row;
}

.bold-700{
    font-weight: 700;
}

.bold-600{
    font-weight: 600;
}

#nomeperfil{
    float:inline-start;
    font-size: 1.0em;
    margin-bottom: 3px;
}

#nomesair{
    float:inline-start;
    font-size: 0.7em
}

#btn-user{
    margin-top: 4px;
    width: 25px;
    margin-right: 5px;
}

#btn-user:hover{
     color: #FFFFFF}

/*                                                                  GERAL                                                                  */
